<div class="nav-ghost"></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/images/only-logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': hasRoute('/')}" aria-current="page" href="#">My Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/lorenzospallione/">Meet me</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="cursor-pointer" (click)="logout()">Log out</a>
      </span>
    </div>
  </div>
</nav>