.blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5000;
  background: rgba(164, 164, 164, 0.365);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container-add-superhero {
  margin-top: 15vh;
  max-height: 70vh;
  overflow: hidden;
  background: white;
  padding: 40px 20px;
  border-radius: 10px;
  position: relative;
}
.mover {
  width: 100%;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: move;
}
.close-button {
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.input-group {
  display: flex;
}
.btn2 {
  width: 85px;
}
.container-table {
  max-height: calc(70vh - 130px);
  overflow-y: scroll;
}
.table {
  width: 400px;
  max-width: 80vw;
}
td {
  vertical-align: middle;
}
.cursor-pointer {
  cursor: pointer;
}
.superheroe-image img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.superheroe-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(to top right, #cfd9df 0%, #e2ebf0 100%);
  overflow: hidden;
}
.col-btn {
  width: 85px;
}